<div class="container">
        <a id="new_round_btn" href="" class="btn btn-default btn-large btn-block" ng-click="changePage('/round/course')">New round</a>
        <a id="courses_btn" href="" class="btn btn-default btn-large btn-block" ng-click="changePage('/courselist')">Courses</a>
        <a id="players_btn" href="" class="btn btn-default btn-large btn-block" ng-click="changePage('/playerlist')">Players</a>
        
        <a id="about_btn" href="" class="btn btn-default btn-large btn-block" ng-click="changePage('/about')">About</a>
       
            

       
    
    
</div>
